@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

:root {
    /* colors */
    --text-primary: #204012;
    --green: #2F591B;
    --green-light: #B9D99A;
    --brown: #592F0A;
    --brown-light: #D9B19A;
    --text-inactive:  #ADADAD;

    /* font sizes */
    --title-2xl: 2rem;
    --title-heading: 1.6rem;
    --text-regular: 1rem;

    /* paddings */
    --p-sm: 4px;
    --p: 8px;
    --p-md: 16px;
    --p-lg: 24;
    --p-xl: 32px;
    --p-2x: 64px;

    /* fonts */
    --font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* base classes */

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-container {
    max-width: 1488px;
    margin: 0 auto;
    width: 90vw;
}

h1{
    font-size: var(--title-2xl);
}
