.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
}
.navbar__logo {
    cursor: pointer;
}
.navbar__search-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    margin: 0 5vw 0 5vw;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
}
.navbar__search-container input[type="text"] {
    width: 95%;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
}
.navbar__search-icon {
    /* justify-self: end; */
    cursor: pointer;
}
.navbar__icons {
    display: flex;
    align-items: center;
}
.navbar__icons img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}
.navbar__links {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px 0;
}
.navbar__link-container {
    margin: 0px 10px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
.navbar__link-container a {
    color: var(--text-primary);
    text-decoration: none;
}
.navbar__links .navbar--active,
.navbar__link-container:hover {
    border-radius: 10px;
    background-color: var(--green-light);
}
