.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 10px 0;
    position: relative;
}


/* logo */
.navbar__logo {
    cursor: pointer;
    max-width: 300px;
    width: 30vw;
    min-width: 150px;
}


/* burger */
.navbar__burger-container {
    display: none;
    position: relative;
    height: 24px;
    width: 32px;
}

.navbar__burger-container .navbar__burger-checkbox {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: black;
}

.navbar__burger-container .navbar__burger-lines {
    display: block;
    height: 100%;
    width: 32px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar__burger-line {
    display: block;
    background: black;
    height: 3px;
    width: 100%;
    border-radius: 50px;
}

.navbar__burger-line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar__burger-line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar__burger-line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar__burger-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.navbar__burger-container input[type="checkbox"]:checked~.navbar__burger-lines .navbar__burger-line1 {
    transform: rotate(45deg);
}

.navbar__burger-container input[type="checkbox"]:checked~.navbar__burger-lines .navbar__burger-line2 {
    transform: scaleY(0);
}

.navbar__burger-container input[type="checkbox"]:checked~.navbar__burger-lines .navbar__burger-line3 {
    transform: rotate(-45deg);
}


.navbar__search-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    margin: 0 5vw 0 5vw;
    width: 100%;
    padding: 10px;
    font-size: var(--text-regular);
    border: 1px solid var(--text-primary);
    border-radius: 8px;
}

.navbar__search-text {
    width: 95%;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.navbar__search-icon {
    cursor: pointer;
}


/* icons */
.navbar__icons {
    display: flex;
    align-items: center;
    gap: 13px;
}

.navbar__icons img {
    max-width: 32px;
    width: 10vw;
    min-width: 24px !important;
    cursor: pointer;
}


.navbar__auth-container {
    width: 35px;
    height: 35px;
    background-color: var(--green-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    user-select: none;
    cursor: pointer;
}

.navbar__auth-drop-container {
    position: absolute;
    min-width: 200px;
    max-width: 288px;
    height: min-content;
    top: 100%;
    right: 0;
    border-radius: 10px;
    background-color: white;
    display: none;
    z-index: 1000;
    overflow: hidden;

    padding: 5px;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar__auth-drop-container.active {
    display: block;
}

.navbar__auth-option.cart {
    display: none;
}

.navbar__auth-option {
    border-radius: 7px;
    padding: 10px 40px 10px 10px;
    gap: 10px;
    display: flex;
    width: 100%;
}

.navbar__auth-option:first-child {
    display: block;
    gap: 0;
}

.navbar__auth-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar__auth-option img {
    width: 20px !important;
}

.navbar__auth-option.cart {
    display: none;
}

.navbar__auth-option:first-child {
    display: block;
    gap: 0;
}

.navbar__auth-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar__auth-option img {
    width: 20px !important;
}


.navbar__auth-separator {
    height:1px;
    margin: 5px 0;
    border-width:0;
    color: var(--text-primary);;
    background-color: var(--text-primary);
}


.navbar__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    /* height: 100px; */
    padding: 10px 0;
    overflow-x: clip;
    overflow-y: visible;
    /* overflow: hidden; */
    gap: 5px;
}

.navbar__links-mobile {
    display: none;
}

.navbar__links .navbar--active,
.navbar__link-container:hover {
    /* background-color: var(--green-light); */
}

.navbar__link-container {
    border-radius: 14px;
    padding: 0px 10px 0px 10px;
    transition: background-color 0.3s;
    display: inline-block;
    width: max-content;
    white-space: nowrap;
}

li.navbar__link-container {
    font-weight: 500;
}

a.navbar__link-container {
    padding: 5px;
    color: var(--text-primary);
    text-decoration: none;
}

.navbar__links .navbar--active,
.navbar__link-container:hover {
    /* background-color: var(--green-light); */
}


/* mobile links */
.navbar__links-mobile {
    display: none;
}

.navbar__links-mobile {
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
    position: absolute;
    top: 100%;
    /* this is the height of the navbar */
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.navbar__links-mobile {
    display: none;
}

.navbar__links-mobile__categories {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navbar__links-mobile__subcategories {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navbar__bottom-search {
    display: none;
}



@media screen and (max-width: 768px) {
    .navbar__top {
        padding-top: 10px;
        align-items: flex-end;
    }

    .header {
        padding-bottom: 10px;
    }

    /* burger */
    .navbar__burger-container {
        display: block;
    }

    /* search */
    .navbar__search-container {
        display: none;
    }

    .navbar__search-text::placeholder {
        font-size: var(--text-regular);
    }

    .navbar__search-icon {
        width: 20px;
    }

    .navbar__cart-icon {
        display: none;
    }


    .navbar__auth-option.cart {
        display: flex;
    }

    .navbar__links {
        display: none;
    }

    .navbar__links-mobile {
        display: flex;
        width: 100%;
        max-height: 90vh;
        padding: 10px;
        gap: 10px;
        position: absolute;
        top: 100%;
        /* this is the height of the navbar */
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        overflow-y: scroll;
    }

    .navbar__links-mobile {
        display: none;
    }

    .navbar__links-mobile__categories {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .navbar__links-mobile__subcategories {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    /* search */
    .navbar__bottom-search {
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
        width: 100%;
        height: min(100%, 40px);
        font-size: 17px;
        border: 1px solid var(--text-primary);
        border-radius: 8px;
        padding: 10px 10px;
    }

    .navbar__logo {
        width: 50vw;
        transition: background-color 0.2s;
    }
}

@media screen and (max-height: 500px) {
    .navbar {
        padding: 0;
        margin-bottom: 10px;
    }

    .navbar__links {
        padding-top: 0;
        padding-bottom: 0;
    }
}