.swiper {
    width: 100%;
    border-radius: 25px;
    max-height: 376px;
    height: 50vw;
    min-height: 276px;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev {
    left: 20px;
    transform: rotate(180deg);
}

.swiper-button-next {
    right: 20px;
}

.swiper-pagination-bullet {
    background-color: var(--green);
    cursor: pointer;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--text-primary);
}


@media screen and (max-width: 768px) {
    .swiper-button-prev {
        left: 10px;
        transform: rotate(180deg);
    }
    
    .swiper-button-next {
        right: 10px;
    }
}