.color-input {
    display: none;
}

.color-input[type="radio"]:checked + .color {
    box-shadow: 0px 0px 0px 2px #204012;
}

/* filter classes */
.filter {
    width: 25%;
}

.filter__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 30px 0;
}

.filter__title {
    font-weight: 900;
}

.filter__icon {
    margin-left: 2%;
}

.filter__icon img {
    width: 24px;
    height: 24px;
}
.filter__reset {
    color: var(--green);
    text-decoration: underline;
    justify-self: end;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}
.filter__main {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 7%;
}

.filter__container-option {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter__option__title {
    font-weight: 700;
    font-size: var(--title-regular);
    display: inline-block;
}

.filter__option-input.error {
    border-color: red;
}
/* errors */

.register__error-tooltip {
    visibility: hidden;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 200px;
    top: -5px;
    left: 105%;
    opacity: 0;
    transition: opacity 0.3s;
}

.option-input-container:hover .register__error-tooltip {
    visibility: visible;
    opacity: 1;
}

/* price filter */

.filter__option {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.option-label {
    font-size: 14px;
    color: #333;
}

.option-input-container {
    position: relative;
    flex: 1;
}

.filter__option-input {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid var(--green-light);
    background-color: transparent;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.price-input:focus {
    border-bottom-color: var(--green);
}

.price-input::placeholder {
    color: #aaa;
}

.currency-symbol {
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 16px;
    color: #333;
}

.dash {
    margin: 0 10px;
    font-size: 16px;
    color: #333;
}

/* sliders */

.slider-container {
    width: 100%;
    text-align: center;
}

/* Customizing the noUiSlider */
/* Minimal noUiSlider styles */
.noUi-target {
    background: var(--green-light);
    /* Light grey background for the track */
    border-radius: 10px;
    border: none;
    height: 4px;
    /* Thinner track for minimal style */
}

.noUi-connect {
    background: var(--green);
    /* Green color for the selected range */
    border-radius: 10px;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background: var(--green);
    border: 2px solid var(--green);
    /* Green border for the handles */
    border-radius: 50%;
    height: 16px;
    width: 16px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    /* Slight shadow for handles */
}

.noUi-handle:before {
    display: none;
    /* Hide default handle pseudo-element */
}

.noUi-horizontal .noUi-handle {
    top: -6px;
    /* Adjust handle position */
}

.noUi-horizontal .noUi-handle:focus {
    box-shadow: 0 0 5px #4caf50;
    /* Green shadow on focus for accessibility */
}

/* colors */

.color-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow elements to wrap to the next line if necessary */
    gap: 10px;
    /* 1.25rem gap between elements */
    padding-top: 0.5rem;
    /* 0.5rem padding at the top */
}

/*
.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.filter__swatch {
    width: 2.5rem;
    /* 40px */
    height: 2.5rem;
    /* 40px */
    border-radius: 9999px;
    /* Full radius for a rounded circle */
    cursor: pointer;
    /* Pointer cursor */
}

/* Is available */

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.checkbox-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
}

.styled-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 3px;

    /* Make the checkbox round */
    border: 1px solid #333;
    /* Border color and width */
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-checkbox:checked {
    border-color: var(--green);
    /* Change border color when checked */
}

.styled-checkbox:checked::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid black; /* Outer border color */
    box-sizing: border-box; /* Include border in the element's total width and height */
}
.styled-checkbox:checked::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    border: 4px solid var(--green); /* Outer border color */
    box-sizing: border-box; /* Include border in the element's total width and height */
}

/* Reset button */
.div-button-container {
    margin-left: 7%;
    margin-top: 14px;
}

.div-button {
    /* width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    Center the text inside the div
    user-select: none;
    Prevent text selection on double click */
    width: 100px;
    padding: 5px 20px;
    font-size: 16px;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; /* Center the text inside the div */
    user-select: none; /* Prevent text selection on double click */
    margin: 10px 0;
}

.div-button:hover {
    background-color: var(--green);
    color: white;
}

.div-button:active {
    background-color: var(--green);
    color: white;
}

.div-button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    /* Optional: add focus outline for accessibility */
}

/* Minimal noUiSlider styles */
.noUi-target {
    background: var(--green-light);
    /* Light grey background for the track */
    border-radius: 10px;
    border: none;
    height: 4px;
    /* Thinner track for minimal style */
}

.noUi-handle::after {
    display: none;
}

.noUi-connect {
    background: var(--green);
    /* Green color for the selected range */
    border-radius: 10px;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background: var(--green);
    border: 2px solid var(--green);
    /* Green border for the handles */
    border-radius: 50%;
    height: 16px;
    width: 16px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    /* Slight shadow for handles */
}

.noUi-handle:before {
    display: none;
    /* Hide default handle pseudo-element */
}

.noUi-horizontal .noUi-handle {
    top: -6px;
    left: 100%;
    /* Adjust handle position */
}

.noUi-horizontal .noUi-handle:focus {
    box-shadow: 0 0 5px #4caf50;
    /* Green shadow on focus for accessibility */
}
@media screen and (max-width: 1000px) {
    .filter {
        width: 100%;
    }
    .filter__main {
        width: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 550px) {
    .filter {
        width: 100%;
    }
    .filter__main {
        display: flex;
        height: auto;
        width: 90%;
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }
}
