.plp-page-container {
    display: flex;
    gap: 5%;
}
@media screen and (max-width: 1000px) {
    .plp-page-container {
        flex-direction: column;
    }
}

.pagination {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 5px;
}

.pagination li {
    /* margin: 0 5px; */
}

.pagination li a,
.pagination li span {
    padding: 8px 12px;
    text-decoration: none;
    /* border: 1px solid #ddd; */
    color: black;
}

.pagination li a:hover {
    background-color: #f4f4f4;
}

.pagination .active span {
    color: var(--text-primary);
    font-weight: bold;
    text-decoration: underline;
}

.pagination .disabled span {
    color: #ddd;
}
