.checkout-btn{
    border-radius: 8px;
    width: 240px;
    height: 3.3rem;
    background-color: var(--text-primary);
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .checkout-btn{
        width: 100%;

    }

}

