/* HTML: <div class="loader"></div> */
.checkout__loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 300;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
    color: var(--green);
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 .5s infinite alternate linear;
}

@keyframes l21 {
    50% {
        box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
    }

    100% {
        box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
    }
}