.admin__container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hi__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin__h4 {
    float: left;
    margin-top: 20px;
}

.admin__filter__div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin__btn {
    padding: 8px 20px;
    border-radius: 6px;
    margin: 5px;
}

.grey{
    border: 1px solid #EAEAEA;
    color: #9F9F9F;
}

.green{
    background-color: var(--green);
    color: white;
}

.green:hover{
    background-color: var(--green);
    color: white;
}

.admin__after__table__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.admin__text__after__table {
    color: #9F9F9F;
    margin-top: 5px;
}

.admin__table__div {
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
}

.table__head {
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
}

.table__head__left, .table__head__right {
    display: flex;
    flex-direction: row;
}

.table__row {
    padding: 8px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
}

/* add product blade style */

.add-product__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
} 
.add-product__p {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 200;
}

.add-product__left-div {
    width: 49%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.add-product__right-div {
    width: 49%;
    /* background-color: var(--green-light); */
    display: grid;
    grid-template-columns: auto auto;
    gap: 5%;
}

.image__input {
    background-color: var(--green-light);
    border-radius: 5%;
    padding: 10%;
    margin-bottom: 20px;
}

.row__input {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.specification__div {
    display: flex;
    flex-direction: column;
}

#newField {
    display: flex;
    flex-direction: row;
}

.add__input {
    color: var(--text-primary);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--green);
    margin-bottom: 20px;
}

.spec__input__row {
    width: 40%;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 30px;
    min-width: none;
}

/* .spec__input__span {
    width: 40%
} */

.input__row {
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 30px;
}

.add__input:focus, .add__textarea:focus {
    outline: none;
}

.add-product__name__input {
    padding-left: 10px;
    padding-right: 10px;
}

.select__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.add__btn {
    padding: 8px 20px;
    border-radius: 6px;
    background-color: white;
    border: var(--green-light) solid 1px;
    color: var(--green);
}

.add__textarea {
    padding: 5px;
    height: 200px;
    border-radius: 5px;
    border: 1px var(--green) solid;
    font-size: 14px;
    margin-bottom: 20px;
}

.spec__div__row {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 2%;
    margin-bottom: 10px;
}

.select__option {
    min-width: 150px;
}

.select__option:focus {
    outline: none;
}

.category__pop-up {
    z-index: 100;
    position: fixed;
    width: 40%;
    height:40%;
    top:30%;
    left: 30%;
    background-color: white;
    border: 1px solid black;
}

.show__pop__up__window {
    display: block;
}

.hide__pop__up__window {
    display: none;
}

.added__spec__div {
    display: flex;
    flex-direction: column;
}

.existing__colors {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 1%;
    margin-bottom: 60px;
    margin-top: 20px;
}

.color__div {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10%;
    border: 1px solid var(--green);
}

.input__row__with__error {
    display: flex;
    flex-direction: column;
}

.admin__error {
    font-size: 12px;
    color: red;
    float: left;
}
/* .color__div__pressed {

} */


.one-product__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--green);
}
.one-product__row-left {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.review__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid var(--green);
}
.row__div {
    width: 20%;
}
.row__div_right {
    text-align: right;
}

.each-color__div {
    aspect-ratio: 1/1;
    width: 5%;
    border: 1px solid var(--green);
}

.product-color__div {
    display: flex;
    gap: 1%;
    flex-direction: row;
    justify-content: left;
}
