footer, footer input{
    font-family: var(--font-family);
    color: white;
    background-color: var(--text-primary);
}


footer{
    border-radius: 27px 27px 0 0;
    padding: 48px 0 40px 0 ;
    
}
.footerwrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 60px;
    width: 100%;
}

.footerwrapper__right-Footer input{
    display: block;
    margin: 30px 20px 40px 0;

}
.footerwrapper__left-Footer{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.footerwrapper__right-Footer{
    width: 50%;
}

.footerwrapper__left-Footer > h1{
    margin-bottom: 30px;
}

.footerwrapper__subscribe-btn{
    border-radius: 10px;
    width: 240px;
    height: 2.6rem;
    font-size: var(--text-regular);
    outline-style: none;
    border: solid 1px white;
    transition: color .2s ease-out;
    cursor: pointer;
}


.footerwrapper__subscribe-btn:hover{
    color: var(--green);
    background-color: white;
}

.footerwrapper__text-input{
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 13px;
    padding-left: 20px;
}


.icon-row > a{
    margin-right: 30px;
}

.footerwrapper-bottom{
    max-width: 1488px;
    margin: auto;
}

.footerwrapper__text-input::placeholder{
    color: white;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .footerwrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerwrapper__left-Footer{
        width: 100%;
        max-width: none;
    }

    .footerwrapper__right-Footer input{
        margin-bottom: 30px;
    }

    .footerwrapper__right-Footer{
        max-width: none;
        width: 100%;
    }


    .footerwrapper-bottom {
        display: flex;
        justify-content: center;
      }
    .icon-row {
    margin-bottom: 30px;
    background-color: var(--green);
    }



}

@media only screen and (max-width: 480px) {
    .footerwrapper__subscribe-btn{
        width: 100%;
    }


}
