.registration__container {
    width: 100%;
    /* background-color: red; */
    text-align: center;
}

.registration__form {
    max-width: 425px;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.register__btn__div {
    display: grid;
    grid-template-columns: 70% 20%;
    gap: 5%;
    margin-right: 5%;
    align-items: center;
    margin-bottom: 20px;
}

.registration__form div {
    width: 100%;
}

.register__input {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid var(--green);
    color: var(--green);
    background-color: white;
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.register__input:focus {
    outline: none;
}

.register__checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    color: var(--green);
}

.registration__container h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.register__btn {
    border-radius: 8px;
    padding: 10px 20px;
    background-color: white;
    border: var(--green-light) solid 1px;
    color: var(--green);
    margin-top: 10px;
    margin-bottom: 10px;
}

.register__btn:hover {
    background-color: var(--green);
    color: white;
    transition: 0.2s;
}

.register__btn:disabled {
    color: white;
    background-color: var(--green-light);
}

.login__a {
    color: var(--green);
}

.login__a:hover {
    text-decoration: underline;
}
